
.header {
    padding: 24px 0;
    border-bottom: 2px solid tomato;
    border-radius:30%;
}

.header__logo {
    font-size: 36px;
    font-weight: 800;
}

.header__logo a {
    text-decoration: none;
    color: black;
}
.header__nav {
    display: flex;
    align-items: center;
    gap: 32px;
}


.header__nav a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    transition: .3s;
}

.header__nav a:hover {
    transform: scale(1.1);
    color: tomato;
}

.header__actions button {
    border: none;
    outline: none;
    background: transparent;
}


.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}