
.header {
    width: 100%;
    padding: 24px 0;
    border-bottom: 2px solid tomato;
    border-radius: 30%;
}

.header__inner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 20%;
}


.header__nav a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    transition: .3s;
}

.header__nav a:hover {
    transform: scale(1.1);
    color: tomato;
}

.header__actions {
    transition: .3s;
}

.header__actions:hover {
    transform: scale(1.1);
}

.header__actions button {
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 1010px) {
    .header__inner {
        justify-content: space-around;
    }

    .header__nav {
        width: 40%;
    }
}


@media screen and (max-width: 580px) {
    .header__inner {
        flex-direction: column;
        gap: 15px;
    }

    .header__nav {
        width: 60%;
    }
}

