.btn  {
    font-weight: 600;
    border: none;
    background-color: offwhite;
    font-size: 16px;
    padding: 15px 32px;
    cursor: pointer;
    transform: all 0.3s;
    position: relative;
  }
  
  .btn:before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    top: -3px;
    left: -3px;
    border-top: 2px solid tomato;
    border-left: 2px solid tomato;
    transition: all 0.25s;
  }
  
  .btn:after {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    bottom: -3px;
    right: -3px;
    border-bottom: 2px solid tomato;
    border-right: 2px solid tomato;
    transition: all 0.3s;
  }
  
  .btn:hover:before,
  .btn:hover:after {
    width: 102%;
    height: 108%;
  }


  .btn:disabled {
    background-color: #9EE37D;
    content: "";
    color: #000;
  }