.sneaker__cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  margin: 60px 0;
}

.card { 
    transition: .3s;
    border-radius: 8px;
    padding: 15px;
}

.card:hover {
  -webkit-box-shadow: 0px 5px 10px 2px tomato;
  -moz-box-shadow: 0px 5px 10px 2px tomato;
  box-shadow: 0px 5px 10px 2px tomato;

  transform: scale(1.03);
}

.card__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card__title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 15px 0;
}

.card__image img {
  width: 350px;
}
