.sneaker__inner {
  padding: 50px 0;
  display: flex;
  justify-content: space-evenly;
}

.sneaker__image img {
  width: 500px;
}



.sneaker__title {
  margin-top: 70px;
  display: flex;
  gap: 30px;
  flex-direction: column;
  text-align: left;
  width: 35%;
}

.sneaker__success {
  width: 50%;
  background-color: #e6e6e6;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.sneaker__success img {
  width: 80px;
}


@media screen and (max-width: 950px) {
  .sneaker__inner {
    flex-direction: column;
    align-items: center;
  }

  .sneaker__title {
    align-items: center;
    width: 70%;
  }

  .sneaker__success {
    width: 100%;
    padding: 0 10px;
  }
}